#what-it-is-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;

  p:first-child {
    font-size: 38px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  img {
    padding-bottom: 40px;
  }
}

.grey-canvas {
  height: 325px;
  width: 100%;
  background: $bg-secondary;
  display: flex;
  justify-content: center;
  padding-top: 73px;
  gap: 100px;
  margin-bottom: 40px;
}

.grey-canvas-el {
  width: 164px;
  text-align: center;

  p:nth-child(3) {
    font-size: 16px;

    &::before {
      content: "";
      display: block;
      width: 64px;
      height: 1px;
      background-color: $font-primary;
      margin: 10px auto;
    }
  }
}