#start {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.top-header,
.top-header-logged-in,
.bottom-header {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-right: 40px;
  cursor: pointer;
}

.top-header,
.top-header-logged-in {
  padding-top: 30px;
  padding-bottom: 10px;

  .active {
    border: 1px solid $bg-additional;
  }

  a {
    text-decoration: none;
    color: $font-additional;
    font-size: 14px;
    border: 1px solid transparent;
    padding: 8px;

    &:hover {
      border: 1px solid $bg-additional;
    }
  }
}

.bottom-header a {
  border: 1px solid transparent;
  padding: 8px;
  text-decoration: none;

  &:hover {
    border: 1px solid $font-additional;
  }

  a:hover {
    border: 1px solid transparent;
  }
}

.home-hero-image {
  width: 50%;
  height: 100%;
  background-image: url(../../assets/home-hero-image.jpg);
  background-size: cover;
  background-position: right;
}

.home-hero-content {
  padding-right: 60px;
}

.home-hero-text {
  @extend.title;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 120px;
}

.home-hero-buttons {
  display: flex;
  gap: 20px;
}