#start {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.menu-btn {
  display: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
}

.menu-toggle {
  display: none;

  span {
    width: 20px;
    height: 2px;
    display: block;
    margin-bottom: 3px;
    background-color: $bg-additional;
    transition: .3s all ease-in-out;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.top-header,
.top-header-logged-in,
.bottom-header {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-right: 40px;
  cursor: pointer;
}

.top-header,
.top-header-logged-in {
  padding-top: 30px;
  padding-bottom: 10px;

  a {
    text-decoration: none;
    color: $font-additional;
    font-size: 14px;
    border: 1px solid transparent;
    padding: 8px;

    &:hover {
      border: 1px solid $bg-additional;
    }
  }
}

.bottom-header span {
  border: 1px solid transparent;
  padding: 8px;
  text-decoration: none;

  &:hover {
    border: 1px solid $font-additional;
  }
}

.home-hero-image {
  width: 50%;
  height: 100%;
  background-image: url(../../assets/home-hero-image.jpg);
  background-size: cover;
  background-position: right;
}

.home-hero-text {
  @extend.title;
  height: calc(100% - 106px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-wrap: wrap;
  text-align: center;
  padding-left: 10px;
  padding-right: 40px;
}

.home-hero-buttons {
  display: flex;
  gap: 20px;
}


@media (max-width: 1240px) {
.home-hero-image {
  display: none;
}

  .home-hero-content {
    width: 100%;
    background-image: url(../../assets/home-hero-image.jpg);
    background-size: cover;
    background-position: right;
    padding-right: 0;
  }

  .home-hero-text,
  .home-hero-header {
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 40px;
  }
}

@media (max-width: 720px) {
  #start {
    height: 700px;
  }

  .home-hero-content {
    background-size: 680px 100%;
    background-position: left bottom;
  }

  .home-hero-buttons {
    margin-bottom: 60px;

    button {
      width: 126px;
      height: 80px;
      padding: 2px 5px;

      a {
        font-size: 18px;
      }
    }
  }

  .home-hero-text {
    height: calc(700px - 71px);
    justify-content: flex-end;

    p:nth-child(2) {
      font-size: 20px;
    }
  }

  .bottom-header {
    position: absolute;
    left: 20px;
    top: 64px;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    display: none;
    gap: 0;
    line-height: 0.9;

    span {
      &:hover {
        border-left: 3px solid $bg-additional;
        border-right: 1px solid transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-radius: 2%;
      }
    }
  }

  .bottom-header-bg {
    background-color: $bg-primary;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s;
    width: 205px;
  }

  .menu-btn:checked {
    ~ .bottom-header {
      display: flex;
    }

    ~ .menu-toggle {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(2px, 5px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(2px, -5px);
        }
      }
    }
  }

  .menu-toggle {
    display: block;
    padding-right: 30px;
    position: absolute;
    left: 20px;
    top: 40px;
  }
}