#organizations {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.organizations-intro {
  p:first-child {
    @extend.title;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.organizations-types {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 56px;
  margin-bottom: 70px;
}

.org-type {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  width: 208px;
  height: 79px;
  border: 0.75px solid transparent;
}

.organizations-content {
  width: 1344px;
  height: 553px;
}

.organizations-list {
  height: 338px;
}

.organizations-desc {
  width: 640px;
  margin: auto;
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 10px;
}

.organizations-item {
  display: flex;
  justify-content: space-between;
  font-family: $font-alt;
  font-weight: 300;
  padding-top: 34px;
  padding-bottom: 34px;

  &:nth-child(even) {
    border-bottom: 0.75px solid $font-primary;
    border-top: 0.75px solid $font-primary;
  }
}

.org-name-mission {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  p:first-child {
    font-size: 26px;
  }
  p:nth-child(2) {
    font-style: italic;
  }
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;

  li {
    cursor: pointer;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: $font-primary;
  }
}

.selected {
  border: 0.75px solid $font-primary;
}

@media (max-width: 1469px) {
  .organizations-content {
    width: 640px;
    height: 680px;
  }
  .organizations-list {
    height: auto;
    margin-bottom: 20px;
  }
  .organizations-item {
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }
}

@media (max-width: 710px) {
  .organizations-types {
    gap: 10px;
  }
}

@media (max-width: 680px) {
  .organizations-content,
  .organizations-intro {
    width: 100%;
  }

  .organizations-desc,
  .organizations-list {
    width: 500px;
  }

  .org-type {
    width: 160px;
    font-size: 20px;
  }

  .organizations-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}