body {
  font-family: $font-base;
  color: $font-primary;
  font-size: 18px;
}

.container {
  width: 100%;
}

button {
  width: 310px;
  height: 120px;
  padding: 10px 50px;
  background-color: $bg-primary;
  border: 0.75px solid $font-additional;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $font-primary;
    font-weight: 300;
    font-size: 36px;
  }
}

.title {
    font-size: 38px;
    font-weight: 600;
}