body {
  font-family: $font-base;
  color: $font-primary;
  font-size: 18px;
}

.container {
  width: 100%;
}

button {
  width: 310px;
  height: 120px;
  padding: 10px 50px;
  background-color: $bg-primary;
  border: 0.75px solid $font-additional;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $font-primary;
    font-weight: 300;
    font-size: 36px;
  }
}

.title {
    font-size: 38px;
    font-weight: 600;
}

.error {
  color: red;
  width: 250px;
  white-space: normal;
  overflow-wrap: normal;
}

.error-below-form {
  width: 100%;
  height: 40px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (max-width: 720px) {
  .title {
    font-size: 28px;
    text-align: center;
  }
}

@media (max-width: 620px) {
  .error {
    font-size: 12px;
    width: 100%;
  }
}