$bg-primary: #FFFFFF;
$bg-secondary: #F0F1F1;
$bg-additional: #FAD648;
$font-primary: #3C3C3C;
$font-secondary: #5E5322;
$font-additional: #737373;
$contact-form: #FFFFFFC9;
$contact-form-placeholder: #3C3C3C26;